<%- content_for(:title) { concat "New Sales Tax Rate" } -%>

<%- content_for :crumb do -%>
  <%= link_to "Dashboard", "/admin" %> &gt;
  <%= yield :title %>
<%- end -%>

<h1><%= yield :title %></h1>

<% form_for :product, :url => admin_sales_taxes_path, :html => { :onsubmit => "form_submitted()" } do |f| %>
<%= render :partial => "form", :locals => { :f => f } %>
<% end %>
