<%= error_messages_for "shipping_method" %>

<table cellspacing="0">
  <tr>
    <td class="big">Name:</td>
    <td><%= f.text_field :name, :class => "big" %></td>
  </tr>
  <tr>
    <td class="big">Price:</td>
    <td>$<%= f.text_field :price, :class => "big", :size => 8 %></td>
  </tr>
</table>

<%- fancy_submit admin_shipping_methods_path do -%>
  <%= f.submit "Save shipping method" %>
<%- end -%>