<%- content_for(:title) { concat "Edit #{@retailer.name}" } -%>

<%- content_for :crumb do -%>
  <%= link_to "Dashboard", "/admin" %> &gt;
  <%= link_to "Retailers", admin_retailers_path %> &gt;
  Edit Retailer
<%- end -%>

<h1><%= yield :title %></h1>

<% form_for [:admin, @retailer], :html => { :method => :put, :onsubmit => "form_submitted()", :multipart => true } do |f| %>
<%= render :partial => "form", :locals => { :f => f } %>
<% end %>
