<%- content_for(:title) { concat "New #{@retailer.name}" } -%>

<%- content_for :crumb do -%>
  <%= link_to "Dashboard", "/admin" %> &gt;
  <%= link_to "Retailers", admin_retailers_path %> &gt;
  New Retailer
<%- end -%>

<h1><%= yield :title %></h1>

<% form_for [:admin, @retailer], :html => { :onsubmit => "form_submitted('Uploading photo and making thumbnails...')", :multipart => true } do |f| %>
<%= render :partial => "form", :locals => { :f => f } %>
<% end %>
