<%- content_for :title do -%>Order Complete!<%- end -%>

<%- content_for :checkout_steps do -%>
  Shipping Information &raquo;
  Billing Information &raquo;
  Review Order &raquo;
  <span>Finished</span>
<%- end -%>

<h1>Thank you for your order!</h1>

<p>
  We have emailed you a summary of your order.
</p>