<table cellspacing="0" class="full cart">
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th class="center">Quantity</th>
      <th class="right">Total</th>
      <%- unless for_order -%>
      <th class="center">Remove</th>
      <%- end -%>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "/carts/cart_item", :collection => @cart_items, :locals => { :for_order => for_order } %>
  </tbody>
</table>

<%- if for_order -%>
<p class="right"><%= icon "Cart", cart_path %> <%= link_to "Change quantities or remove items", cart_path %></p>
<%- else -%>
<br/>
<%- end -%>

<%= render :partial => "/carts/totals" %>