<table cellspacing="0" class="big">
  <tr>
    <td>Subtotal:</td>
    <td><%= number_to_currency(@cart.subtotal) %></td>
  </tr>
  <%- unless @cart.taxes_total.blank? -%>
  <tr>
    <td>Sales Tax:</td>
    <td><%= number_to_currency(@cart.taxes_total) %></td>
  </tr>
  <%- end -%>
  <%- unless @cart.shipping_total.blank? -%>
  <tr>
    <td>Shipping:</td>
    <td><%= number_to_currency(@cart.shipping_total) %></td>
  </tr>
  <%- end -%>
  <%- unless @cart.shipping_total.blank? and @cart.taxes_total.blank? -%>
  <tr class="total">
    <td>Total:</td>
    <td><%= number_to_currency(@cart.total) %></td>
  </tr>
  <%- end -%>
</table>
