<%- unless @settings.email_logo_file_name.blank? -%>
<div style="background: #000;">
  <img src="<%= $DOMAIN_PATH %><%= @settings.email_logo.url %>" border="0"/>
</div>
<%- end -%>

<div style="padding: 5px 15px; border: 1px solid #000;">

  <p>A new order has been placed at www.gyroxus.com.</p>

  <%= render :partial => "order_summary" %>

</div>