<%- unless @settings.email_logo_file_name.blank? -%>
<div style="background: #000;">
  <img src="<%= $DOMAIN_PATH %><%= @settings.email_logo.url %>" border="0"/>
</div>
<%- end -%>

<div style="padding: 5px 15px; border: 1px solid #000;">

  <p>Thanks for your order, <%= @shipping_address.first_name %>!</p>

  <p>
    If you have any questions about your order or its status, please contact us by
    emailing <a href="mailto:orders@gyroxus.com">orders@gyroxus.com</a>.
  </p>

  <%= render :partial => "order_summary" %>

  <p>Thank you for shopping at <a href="http://www.gyroxus.com">Gyroxus.com</a>!</p>
  
</div>