<%- content_for(:title) { concat "New #{@product_category.name}" } -%>

<%- content_for :crumb do -%>
  <%= link_to "Dashboard", "/admin" %> &gt;
  <%= link_to "Product Categories", admin_product_categories_path %> &gt;
  New Product Category
<%- end -%>

<h1><%= yield :title %></h1>

<% form_for [:admin, @product_category], :html => { :onsubmit => "form_submitted('Creating new Category')", :multipart => true } do |f| %>
<%= render :partial => "form", :locals => { :f => f } %>
<% end %>
