- content_for(:title) { concat "New #{@product_category.name}" }
%h1
  = yield :title
- form_for [:admin, @product_category], :html => { :onsubmit => "form_submitted('Creating new Category')", :multipart => true } do |f|
  = render :partial => "form", :locals => { :f => f }

