- if @product and @product.images.size > 1
  - @product.images.sort_by(&:position).each_with_index do |image, i|
    .image
      .image-thumb-container
        .image-thumb
          = link_to image_tag(image.thumbnail, :alt => h(image.title), :title => h(image.title)), image.image.url(:original)
.clear